--extra-index-url https://download.pytorch.org/whl/cu121
-f https://data.pyg.org/whl/torch-2.5.1+cu121.html

pubchempy
rdkit
seaborn
scipy
scikit-learn
tensorflow
torch==2.5.1+cu121
torchvision==0.20.1+cu121
torchaudio==2.5.1+cu121
torch-geometric
pyg_lib
torch-sparse
torch-scatter
torch-cluster
pandas
matplotlib
ipywidgets
h5py
networkx
numpy
tqdm
